<article class="post-content" data-show-author="{{ theme.settings.content.showAuthor }}" data-show-date="{{ theme.settings.content.showDate }}">
  <header>
    <h1>{{ post.title }}</h1>
    <div class="meta">
      <span class="meta-date">Published on {{ post.date }}</span>
      <span class="meta-author">by {{ post.author }}</span>
    </div>
  </header>
  {{#if post.featuredImage.url}}
  <figure class="post-featured-image">
    <img src="{{ post.featuredImage.url }}" alt="{{ post.featuredImage.alt }}">
  </figure>
  {{/if}}
  <div class="body">
    {{ post.content }}
  </div>

  {{ comments }}
</article>
